@font-face {
  font-family: "Futuris-Cyrillic";
  src: local("Futuris-Cyrillic"),
    url("../fonts/Futuris-Cyrillic_19217.woff") format("woff");

  font-style: normal;
  font-weight: 500;
  font-display: block;
}

@font-face {
  font-family: "Futuris-Bold";
  src: local("Futuris-Bold_19216"),
    url("../fonts/Futuris-Bold_19216.woff") format("woff");
  font-style: normal;
  font-weight: 600;
  font-display: block;
}
