@font-face {
  font-family: "Oswald Medium";
  src: local("Oswald Medium"),
    url("../fonts/oswaldmedium.woff2") format("woff2"),
    url("../fonts/oswaldmedium.woff") format("woff");
  font-style: normal;
  font-weight: 500;
  font-display: block;
}

@font-face {
  font-family: "Oswald";
  src: local("Oswald Regular"),
    url("../fonts/oswaldregular.woff2") format("woff2"),
    url("../fonts/oswaldregular.woff") format("woff");
  font-style: normal;
  font-weight: 500;
  font-display: block;

}
