
html {
  font-size: 14px;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
  min-width: 320px;
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  font-family: $futurist-font;
  color: $text-color;
}

section,
header,
footer {
  grid-column: 1/-1;
}

img {
  max-width: 100%;
  height: auto;
}

input,
textarea,
select,
button {
  font: inherit;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

.menu-active {
  overflow: hidden;
}

.carousel::after {
  content: "flickity";
  display: none; /* hide :after */
}

@media screen and (min-width: 768px) {
  /* disable Flickity for large devices */
  .carousel::after {
    content: "";
  }
}

body::-webkit-scrollbar {
  width: 0.5em;
  height: 0.5em;
}

body::-webkit-scrollbar-thumb {
  background-color: $main-p;
  // outline: 1px solid slategrey;
  // border-radius: 20px;
  height: 0.5em;
}

.wrapper {
  display: grid;
  margin: 0 auto;
}

//SVG ANIMATION

.info-box__image--clock:hover .clockhand {
  transition: 0.5s;
  fill: #ad9d8f;
  transform: translate(0, 0) rotate(360deg);
}

.phone:hover {
  fill: #ad9d8f;
  animation-name: wobble;
  animation-fill-mode: both;
  animation-duration: 1s;
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .animated {
    transition-property: none !important;
    transform: none !important;
    animation: none !important;
  }
}
