$text-color: #444445;
$main-p: #45414e;
$light-b: #e8e1db;
$dark-b: #ad9d8f;
$text-font: arial, helvetica, sans-serif;
$futurist-font: "Futuris-Cyrillic", arial, helvetica, sans-serif;
$futurist-medium-font: "Futuris-Bold", arial, helvetica, sans-serif;
// $tablet-width: 768px;
// $desktop-width: 1300px;
// $retina-dpi: 144dpi;
// $retina-dppx: 1.5dppx;


@mixin reset($padding: 0, $margin: 0) {
  padding: $padding;
  margin: $margin;
}

// @mixin desktop($padding: 40px, $width: 1300px) {
//   padding-left: $padding;
//   padding-right: $padding;
//   width: $width;
// }

// @mixin tablet($padding: 30px, $width: 768px) {
//   padding-left: $padding;
//   padding-right: $padding;
//   width: $width;
// }

// @mixin mobile($padding: 20px, $width: 320px) {
//   padding-left: $padding;
//   padding-right: $padding;
//   width: $width;
// }
