$text-color: #444445;
$main-p: #45414e;
$light-b: #e8e1db;
$dark-b: #ad9d8f;
$light-g:#f2f3f7;
$light-go: rgba(242, 243, 247, 0.5);
$green: #ddeee9;
$text-font: arial, helvetica, sans-serif;
$futurist-font: "Futuris-Cyrillic", arial, helvetica, sans-serif;
$futurist-medium-font: "Futuris-Bold", arial, helvetica, sans-serif;
// $tablet-width: 768px;
// $desktop-width: 1300px;
// $retina-dpi: 144dpi;
// $retina-dppx: 1.5dppx;


@mixin reset($padding: 0, $margin: 0) {
  padding: $padding;
  margin: $margin;
  list-style: none;
}


@mixin limit($width: 1400px) {
  max-width: $width;
  justify-self: center;
}

@mixin limitm($width: 1400px) {
  max-width: $width;
  margin: 0 auto;
}
// @mixin desktop($padding: 40px, $width: 1300px) {
//   padding-left: $padding;
//   padding-right: $padding;
//   width: $width;
// }

@mixin tablet($padding: 4.6429rem) {
  padding-left: $padding;
  padding-right: $padding;
}

@mixin desktop($padding: 8.5714rem) {
  padding-left: $padding;
  padding-right: $padding;
}
// @mixin mobile($padding: 20px, $width: 320px) {
//   padding-left: $padding;
//   padding-right: $padding;
//   width: $width;
// }

@mixin fat-header() {
  margin: 0;
  padding-bottom: 1.7857rem;
  font-size: 1.5714rem;
  line-height: 2.1429rem;
  font-family: $futurist-medium-font;
  text-align: center;

  @media only screen and (min-width: 768px) {
    font-size: 2.1429rem;
    line-height: 1.2857rem;
    text-align: left;
  }

  @media only screen and (min-width: 1200px) {
    line-height: 1.7143rem;
    font-size: 2.5714rem;
    padding-bottom: 1.4286rem;
  }
}

@mixin main-header() {
  @include reset;
  text-transform: uppercase;
  line-height: 2.143rem;
  font-size: 1.571rem;
  text-align: center;
  padding-top: 1.7857rem;

  @media only screen and (min-width: 768px) {
    line-height: 2.1429rem;
    font-size: 2.1429rem;
    padding: 0;
  }

  @media only screen and (min-width: 1200px) {
    line-height: 2.1429rem;
    font-size: 2.1429rem;
    justify-self: start;
  }
}

