.about {
  display: grid;
  grid-gap: 1.071em;
  justify-items: center;
  grid-area: about;

  @media only screen and (min-width: 768px) {
    margin-top: -185px;
    background-color: white;
    grid-auto-flow: column;
    align-items: center;
    padding: 3.3571rem 2.1429rem;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: 35px;
      left: -14px;
      border: 15px solid transparent;
      border-bottom-color: #ffffff;
      transform: rotate(45deg);
    }
  }

  @media only screen and (min-width: 1200px) {
    @include limit;
    grid-template-columns: 1.5fr 2fr;
    grid-gap: 0;
    min-height: 13.2143rem;
  }


}

.about__header {
  @include reset;
  text-transform: uppercase;
  line-height: 2.143rem;
  font-size: 1.571rem;
  text-align: center;
  width: 80%;
  padding-top: 1.071em;

  @media only screen and (min-width: 768px) {
    line-height: 2.1429rem;
    font-size: 1.8571rem;
    padding: 0;
  }

  @media only screen and (min-width: 1200px) {
    line-height: 30px;
    font-size: 30px;
    justify-self: start;
  }
}

.about__description {
  @include reset;
  line-height: 1.2857rem;
  text-align: center;
  margin-bottom: 1.2857rem;

  @media only screen and (min-width: 768px) {
    line-height: 1.2857rem;
    font-size: 1.2857rem;
    padding: 0;
    margin-bottom: 0;
  }

  @media only screen and (min-width: 1200px) {
    line-height: 20px;
    font-size: 24px;
  }
}
