.benefits_radio {
  display: none;
}

.benefits__slides {
  padding-top: 25px;
  min-height: 320px;
  background-color: $light-g;

  grid-gap: 1.563rem;
  @include reset;
}

.benefits__slide {
  position: relative;
  min-width: 100%;
  min-height: 280px;

  display: grid;
  justify-content: center;
  margin-bottom: 25px;
  align-items: center;
  text-align: center;

  grid-template-columns: 70%;
  // grid-gap: 1.7857rem;
  justify-items: center;
}

.benefits__title {
  margin-top: 10px;
  margin-bottom: 10px;

  font-size: 1.5714rem;
  line-height: 2.1429rem;
  font-style: $futurist-medium-font;

  @include reset;
}

.benefits__description {
  font-size: 18px;
  line-height: 1.2857rem;

  @include reset;
}

.benefits__svg {
  width: 111px;
  height: 111px;

  fill: $dark-b;
}
