.benefits {
  grid-area: benefits;
  background-color: $light-g;
}

.benefits_radio {
  display: none;
}

.benefits__slides {
  padding-top: 25px;
  min-height: 320px;
  background-color: $light-g;

  grid-gap: 1.563rem;

  @include reset;

  @media only screen and (min-width: 768px) {
    @include tablet;
  }

  &::after {
    content: 'flickity';
    display: none;

    @media only screen and (min-width: 768px) {
      content: "";
    }
  }
}

.benefits__slide {
  position: relative;
  min-width: 100%;
  min-height: 280px;

  display: grid;
  justify-content: center;
  margin-bottom: 25px;
  align-items: center;
  text-align: center;

  grid-template-columns: 70%;
  justify-items: center;

  @media only screen and (min-width: 768px) {
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 25px minmax(70px, 1fr);
    min-height: 0;
  }
}

.benefits__title {
  margin-top: 10px;
  margin-bottom: 10px;

  font-size: 1.5714rem;
  line-height: 2.1429rem;
  font-style: $futurist-medium-font;

  @include reset;

  @media only screen and (min-width: 768px) {
    grid-column: 2  / -1;
    justify-self: start;
  }
}

.benefits__description {
  font-size: 18px;
  line-height: 1.2857rem;

  @include reset;

  @media only screen and (min-width: 768px) {
    grid-column: 2 / -1;
    justify-self: start;
    text-align: left;
  }
}

.benefits__svg {
  width: 111px;
  height: 111px;

  fill: $dark-b;

  @media only screen and (min-width: 768px) {
    display: grid;
    grid-row: 1 / -1;
  }
}
