.button {
  display: grid;
  margin-top: 25px;
  margin-bottom: 25px;
  padding-top: 15px;
  padding-bottom: 15px;
  position: relative;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: white;
  text-decoration: none;

  background-color: $dark-b;

  grid-template-columns: 1fr;

  &:hover {
    transition: opacity 0.2s linear, color 0.2s linear;
    opacity: 0.8;
  }

  &:active {
    transition: opacity 0.2s linear, color 0.2s linear;
    opacity: 0.8;
  }

  &:focus {
    transition: opacity 0.2s linear, color 0.2s linear;
    opacity: 0.6;
  }

  @media only screen and (min-width: 768px) {
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: bold;
    font-size: 24px;
    line-height: 24px;
    text-align: center;
    margin-left: 160px;
    margin-right: 160px;
    text-transform: uppercase;
    margin-bottom: 0;
  }

  @media only screen and (min-width: 1200px) {
    @include limitm;
    width: 33.3333333333%;
    max-width: 33.2857rem;
    margin-top: 2.1429rem;
  }
}

.button--intro-page {
  margin-top: 1.4286rem;
  margin-bottom: 1.4286rem;
  margin-left: 0;
  margin-right: 0;
  font-weight: 800;
  font-family: $futurist-medium-font;

  @media screen and (min-width: 768px) {
    margin-right: 11.4286rem;
    margin-left: 11.4286rem;
  }
}
