.button {
  display: grid;
  margin-top: 25px;
  margin-bottom: 25px;
  padding-top: 15px;
  padding-bottom: 15px;
  position: relative;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: white;
  text-decoration: none;

  background-color: $dark-b;

  grid-template-columns: 1fr;

  &:hover {
    transition: opacity 0.2s linear, color 0.2s linear;
    opacity: 0.8;
  }

  &:active {
    transition: opacity 0.2s linear, color 0.2s linear;
    opacity: 0.8;
  }

  &:focus {
    transition: opacity 0.2s linear, color 0.2s linear;
    opacity: 0.6;
   }
}

