.contacts {
  position: relative;

  @media only screen and (min-width: 1200px) {
    display: grid;
    margin: 0 auto;
  }
}

.contacts__logo {
  @media only screen and (min-width: 768px) {
    background-image: url(../img/contacts-bg.jpg);
  }

  @media only screen and (min-width: 1200px) {
    background-size: cover;
  }
}

.contacts-intro {
  @media only screen and (min-width: 1200px) {
    margin: auto;
  }
}

.contacts__wrapper {
  @include border;

  @media only screen and (min-width: 1200px) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    max-width: 1400px;
    margin-bottom: 2.8571rem;
  }
}

.contacts__ourteam {
  margin: 0;
  padding-bottom: 5rem;
  padding-top: 0;

  @media only screen and (min-width: 1200px) {
    grid-column: 1/-1;
    padding-bottom: 0;
  }
}

.contacts::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -35px;
  left: 0;
  height: 35px;
  background-image: url(../img/corner-white.svg);
  background-repeat: no-repeat;
  transform: rotate(180deg);
  z-index: 99;
  width: 100%;
  background-size: 100% 100%;

  @media only screen and (min-width: 768px) {
    display: none;
  }
}

.contacts__text {
  @include reset;
  text-transform: uppercase;
  color: #696a6b;
  font-size: 0.7143rem;
  margin-top: 1.4286rem;
  margin-bottom: 0.7143rem;

  @media only screen and (min-width: 768px) {
    font-size: 14px;
    margin: 0;
    align-self: center;
  }

  @media only screen and (min-width: 768px) {
    margin-right: 30%;
  }
}

.contacts__info {
  margin: 0;

  @media only screen and (min-width: 1200px) {
    grid-column: 1 / -1;
    display: flex;
    flex: 1;
    margin-bottom: 2.8571rem;
  }
}

.contacts__infobox-phone {
  margin-top: 1.0714rem;

  @media only screen and (min-width: 1200px) {
    margin: 0;
  }
}

.contacts__team {
  @media only screen and (min-width: 1200px) {
    grid-column: 1/-1;
  }
}

.contacts__form {
  @media only screen and (min-width: 1200px) {
    grid-column: 1/-1;
    display: contents;
  }
}

.contracts__ourteam-title {
  padding-bottom: 2.8571rem;
}

// SLIDER CSS
.contacts__ourteam-slides {
  @media only screen and (min-width: 1200px) {
    border: none;
  }
}

.contacts__carousel::after {
  content: "flickity";
  display: none;

  @media only screen and (min-width: 1200px) {
    content: " ";
    border: none;
  }
}

.contacts__cell {
  @media only screen and (min-width: 1200px) {
    margin-bottom: 2.8571rem;
    border: 1px solid #ad9d8f;
  }
}
