.cta-bold {
  @include border;
  display: grid;
  border: 6px solid #ad9d8f;

  @media screen and (min-width: 768px) {
    grid-template-columns: 200px 426px;
    justify-content: center;
  }
}

.cta-bold__title {
  @include reset;
  @include fat-header;
  padding-top: 0.7143rem;
  padding-bottom: 1.4286rem;

  @media screen and (min-width: 768px) {
    justify-content: left;
    justify-self: left;
    padding-top: 20px;
    padding-left: 1.7857rem;
  }
}

.cta-bold__image {
  fill: #444445;
  width: 50px;
  height: 85px;
  min-width: 50px;
  max-width: 50px;
  justify-self: center;

  @media screen and (min-width: 768px) {
    grid-column: 1 / 2;
    grid-row: 1 / span 2;
    align-self: center;
    width: 70px;
    height: 118px;
    min-width: 70px;
    max-width: 118px;
  }
}

.cta-bold__text {
  @include reset;
  justify-self: center;
  padding-right: 1.7857rem;
  padding-left: 1.7857rem;
  max-width: 28.5714rem;
  padding-top: 1.4286rem;
  padding-bottom: 0.7143rem;
  font-family: $futurist-font;
  font-size: 1.2857rem;
  line-height: 1.7857rem;
}

.cta-bold__phone {
  font-weight: bold;
  font-family: $futurist-medium-font;
  position: relative;
  border-bottom: 1px solid;

}
