.cta-bold {
  display: grid;
  border: 6px solid #ad9d8f;

  @media screen and (min-width: 768px) {
    grid-template-columns: 200px 426px;
    justify-content: center;
  }

  @media screen and (min-width: 1200px) {
    grid-template-columns: 380px;
    max-width: 480px;
    margin-left: 0;
    margin-right: 0;
  }
}

.cta-bold__title {
  @include reset;
  @include fat-header;
  padding-top: 0.7143rem;
  padding-bottom: 1.4286rem;

  @media screen and (min-width: 768px) {
    justify-content: left;
    justify-self: left;
    padding-top: 20px;
    padding-left: 1.7857rem;
  }

  @media screen and (min-width: 1200px) {
    justify-self: center;
    padding-left: 0;
    padding-bottom: 1.7857rem;
    padding-top: 3.2143rem;
    font-size: 2.1429rem;
  }
}

.cta-bold__image {
  fill: #444445;
  width: 50px;
  height: 85px;
  min-width: 50px;
  max-width: 50px;
  justify-self: center;

  @media screen and (min-width: 768px) {
    grid-column: 1 / 2;
    grid-row: 1 / span 2;
    align-self: center;
    width: 70px;
    height: 118px;
    min-width: 70px;
    max-width: 118px;
  }

  @media screen and (min-width: 1200px) {
    grid-row: 2/span 2;
  }
}

.cta-bold__text {
  @include reset;
  justify-self: center;
  padding-right: 1.7857rem;
  padding-left: 1.7857rem;
  max-width: 28.5714rem;
  padding-top: 1.4286rem;
  padding-bottom: 0.7143rem;
  font-family: $futurist-font;
  font-size: 1.2857rem;
  line-height: 1.7857rem;

  @media screen and (min-width: 768px) {
    font-size: 1.5714rem;
    line-height: 1.7143rem;
    padding-bottom: 2.8571rem;
    padding-top: 1.4286rem;
    justify-self: left;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 15px;
    padding-bottom: 45px;
  }
}

.cta-bold__phone {
  font-weight: bold;
  font-family: $futurist-medium-font;
  position: relative;
  border-bottom: 1px solid;
}
