.form__contact {
  @include reset;
  border: none;
  display: flex;
  flex-direction: column;

  @media only screen and (min-width: 1200px) {
    display: contents;
  }
}

.form__title {
  @include fat-header;
}

.form__field {
  font-size: 1rem;
  line-height: 1.8571rem;
  text-transform: uppercase;

  @media only screen and (min-width: 768px) {
    font-size: 1.5714rem;
    line-height: 1.8571rem;
    padding-bottom: 0.3571rem;
  }
}

.form__input {
  border: none;
  background-color: #ede9e6;
  width: 100%;
  height: 60px;
  font-size: 1rem;
  line-height: 26px;
  font-family: $futurist-medium-font;
  color: $text-color;
  padding-left: 0.7143rem;
  margin-bottom: 1.4286rem;

  @media only screen and (min-width: 768px) {
    font-size: 1.5714rem;
    line-height: 1.8571rem;
    margin-bottom: 2.1429rem;
    height: 5rem;
    padding-left: 1.4286rem;
  }
}

.form__filed--message {
  border: none;
  background-color: #ede9e6;
  font-size: 1rem;
  line-height: 1.8571rem;
  font-family: $futurist-medium-font;
  padding-left: 0.7143rem;
  width: 100%;
  height: 11.4286rem;
  margin-bottom: 2.1429rem;
  color: $text-color;
  padding-top: 0.7143rem;

  @media only screen and (min-width: 768px) {
    font-size: 1.5714rem;
    line-height: 1.8571rem;
    padding-left: 1.4286rem;
  }
}

.form__button {
  margin: 0;
  border: none;
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: $futurist-medium-font;

  @media only screen and (min-width: 768px) {
    width: 50%;
  }
}

.form__wrapper {
  display: flex;
  flex-direction: column;

  @media only screen and (min-width: 768px) {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 2.1429rem;
  }
}

