.form {
  @media only screen and (min-width: 1200px) {
    display: contents;
  }
}

.form__title {
  @include fat-header;

  @media only screen and (min-width: 1200px) {
    grid-column: 1/-1;
    padding-bottom: 2.8571rem;
  }
}

.form__contact {
  @include reset;
  border: none;
  display: flex;
  flex-direction: column;

  @media only screen and (min-width: 1200px) {
    display: contents;
  }
}

.form__field {
  font-size: 1rem;
  line-height: 1.8571rem;
  text-transform: uppercase;

  @media only screen and (min-width: 768px) {
    font-size: 1.5714rem;
    line-height: 1.8571rem;
    padding-bottom: 0.3571rem;
  }

  @media only screen and (min-width: 1200px) {
    grid-column: 1 / span 2;
  }
}

.form__input {
  border: none;
  background-color: #ede9e6;
  width: 100%;
  height: 60px;
  font-size: 1rem;
  line-height: 26px;
  font-family: $futurist-medium-font;
  color: $text-color;
  padding-left: 0.7143rem;
  margin-bottom: 1.4286rem;

  @media only screen and (min-width: 768px) {
    font-size: 1.5714rem;
    line-height: 1.8571rem;
    margin-bottom: 2.1429rem;
    height: 5rem;
    padding-left: 1.4286rem;
  }

  @media only screen and (min-width: 1200px) {
    grid-column: 1 / span 5;
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 2px 2px $dark-b;
  }

  &:active {
    outline: none;
    box-shadow: 0 0 2px 2px $dark-b;
  }
}

.form__input--phone {
  @media only screen and (min-width: 1200px) {
    grid-column: 1 / span 3;
    grid-row: 7;
    width: 95%;
  }
}

.form__input--email {
  @media only screen and (min-width: 1200px) {
    grid-column: 4 / -1;
    grid-row: 7;
    width: 95%;
    justify-self: right;
  }
}

.form__field--email {
  @media only screen and (min-width: 1200px) {
    grid-column: 4 / span 6;
    grid-row: 6;
    margin-left: 5%;
  }
}

.form__filed--message {
  border: none;
  background-color: #ede9e6;
  font-size: 1rem;
  line-height: 1.8571rem;
  font-family: $futurist-medium-font;
  padding-left: 0.7143rem;
  width: 100%;
  height: 11.4286rem;
  margin-bottom: 2.1429rem;
  color: $text-color;
  padding-top: 0.7143rem;
  resize: none;

  @media only screen and (min-width: 768px) {
    font-size: 1.5714rem;
    line-height: 1.8571rem;
    padding-left: 1.4286rem;
  }

  @media only screen and (min-width: 1200px) {
    grid-column: 1/-1;
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 2px 2px $dark-b;
  }

  &:active {
    outline: none;
    box-shadow: 0 0 2px 2px $dark-b;
  }
}

.form__button {
  margin: 0;
  border: none;
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: $futurist-medium-font;
  cursor: pointer;

  @media only screen and (min-width: 768px) {
    width: 50%;
  }

  @media only screen and (min-width: 1200px) {
    max-width: 100%;
    width: 95%;
    grid-column: 1 /span 3;
  }
}

.form__wrapper {
  display: flex;
  flex-direction: column;

  @media only screen and (min-width: 768px) {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 2.1429rem;
  }

  @media only screen and (min-width: 1200px) {
    grid-column: 1/-1;
    display: contents;
  }
}

.form__text {
  @include reset;
  text-transform: uppercase;
  color: #696a6b;
  font-size: 0.7143rem;
  margin-top: 1.4286rem;
  margin-bottom: 0.7143rem;

  @media only screen and (min-width: 768px) {
    font-size: 14px;
    margin: 0;
    align-self: center;
  }

  @media only screen and (min-width: 768px) {
    margin-right: 0;
    grid-column: 4/-1;
    justify-self: center;
  }
}
