.header {
  grid-column: 1/-1;
  display: grid;
  grid-area: header;
  grid-template-areas:
    "logo"
    "navigation";


  @media only screen and (min-width: 768px) {
    grid-template-areas:
      "navigation"
      "logo";
  }
}

.header__logo {
  background-color: $main-p;
  height: 6.1em;
  justify-items: center;
  align-items: center;
  padding-top: 15px;
  grid-area: logo;
  display: grid;
  width: 100%;

  @media only screen and (min-width: 768px) {
    height: 400px;
    background-image: url("../img/main-bg.jpg");
    background-size: 1200px auto;
    background-position: center bottom 28%;
    align-items: start;
    padding-top: 35px;
    background-color: #f8bcc4;
    background-repeat: no-repeat;
  }

  @media only screen and (min-width: 1200px) {
    height: calc(100vh - 71px);
    padding-top: 188px;
    background-position: center bottom 65%;
    background-size: cover;
    min-height: 450px;

  }
}

.header__picture {
  @media only screen and (min-width: 768px) {
    width: 203px;
    height: 161px;
  }

  @media only screen and (min-width: 1200px) {
    width: 485px;
    height: 385px;
  }
}

.header__mobile-info {
  color: white;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-content: center;
  min-height: 3.9286rem;
  align-items: center;
  padding-left: 1.4286rem;
  padding-right: 1.4286rem;
}

.header__number {
  @include reset;
  text-decoration: underline;
  font-size: 1.286em;
  line-height: 1.714em;
  color: white;
}

.header__toggle {
  display: flex;
  width: 5em;
  appearance: none;
  border: none;
  background-color: $dark-b;
  padding: 0;
  margin: 0;
  flex: 0 1 auto;

  &:active {
    box-shadow: none;
    border: 0;
    outline: none;
  }

  &:focus {
    box-shadow: none;
    border: 0;
    outline: none;
  }

  &:active {
    box-shadow: none;
    border: 0;
    outline: none;
  }
}

.header__mobile-wrapper {
  display: flex;
  background-color: $light-b;
  justify-content: space-between;
  position: relative;

  @media only screen and (min-width: 768px) {
    display: none;
  }
}

.ourwork__type {
  font-size: 1.1429rem;
  line-height: 1.2857rem;
  padding-left: 55px;
}

.header__instagram,
.header__facebook {
  display: grid;
  align-self: center;

  &:hover {
    transition: opacity 0.2s linear;
    opacity: 0.8;
  }

  &:active {
    transition: opacity 0.2s linear;
    opacity: 0.8;
  }

  &:focus {
    transition: opacity 0.2s linear;
    opacity: 0.6;
  }
}

.header__logo--tablet::after {
  @media only screen and (min-width: 768px) {
    content: " ";
    position: absolute;
    right: 0;
    left: 0;
    height: 35px;
    background-image: url("../img/angle_div_white.svg");
    background-repeat: no-repeat;
    transform: rotate(360deg);
    z-index: 99;
    fill: #ffffff;
    bottom: -1px;
  }

  @media only screen and (min-width: 1200px) {
    display: none;
  }
}

.header__logo--tablet {
  @media only screen and (min-width: 768px) {
    position: relative;
    height: 220px;
    background-position: center bottom 50%;
  }

  @media only screen and (min-width: 1200px) {
    height: calc(100vh - 310px);
    padding: 0;
    align-items: center;
  }
}
