.info-box {
  border: 6px solid #ad9d8f;
  display: grid;
  grid-template-columns: 80px 1fr;
  padding-top: 0.7143rem;
  padding-bottom: 0.7143rem;
  justify-content: center;
  align-content: center;
  padding-left: 0.7143rem;
  padding-right: 0.7143rem;
  margin-bottom: 2.1429rem;

  @media only screen and (min-width: 768px) {
    padding-top: 19px;
    padding-bottom: 19px;
    grid-template-columns: 200px 1fr;
    justify-content: center;
    align-items: center;
    margin-bottom: 2.8571rem;
  }

  @media only screen and (min-width: 1200px) {
    margin: 0;
  }
}


.info-box__image {
  fill: #444445;
  width: 35px;
  height: 60px;
  min-width: 35px;
  max-width: 35px;
  justify-self: center;
  align-self: center;

  @media only screen and (min-width: 768px) {
    width: 76px;
    height: 122px;
    min-width: 76px;
    max-width: 76px;
  }

  &--clock {
    width: 65px;
    min-width: 65px;
    max-width: 65px;

    @media only screen and (min-width: 768px) {
      width: 130px;
      min-width: 130px;
      max-width: 65px;
      height: 122px;
    }
  }
}

.info-box__text {
  font-size: 1.2857rem;
  line-height: 2.1429rem;
  justify-self: center;
  text-align: center;
  margin: 0;
  padding-right: 2.1429rem;
  max-width: 16.0714rem;

  @media only screen and (min-width: 768px) {
    font-size: 2.1429rem;
    line-height: 3.2143rem;
    max-width: 20rem;
  }
}

.info-box__text--phone {
  border-bottom: 1px #e8e1db solid;
}
