.info {
  background-color: $green;
  position: relative;
}

.info::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -34px;
  left: 0;
  height: 35px;
  background-image: url(../img/corner-light.svg);
  background-repeat: no-repeat;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  z-index: 99;
  width: 100%;
}
