.intro {
  margin-right: 1.4286rem;
  margin-left: 1.4286rem;
  text-align: center;

  @media screen and (min-width: 768px) {
    margin-right: 4.6429rem;
    margin-left: 4.6429rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 1fr;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 8.5714rem;
    margin-left: 8.5714rem;
    max-width: 1400px;
  }
}

.intro__header {
  @include main-header;
  padding-bottom: 1.7857rem;
  padding-top: 1.7857rem;

  @media screen and (min-width: 768px) {
    padding-top: 1.7857rem;
    padding-bottom: 1.7857rem;
    text-align: left;
    grid-column: 1 / span 4;
    align-self: center;
  }

  @media screen and (min-width: 1200px) {
    padding-bottom: 2.8571rem;
    padding-top: 2.8571rem;
  }
}

.into__description {
  @include reset;
  padding-bottom: 1.5714rem;

  @media screen and (min-width: 768px) {
    text-align: left;
    font-size: 1.5714rem;
    line-height: 1.7143rem;
    grid-column: 1 / span 3;
    padding-bottom: 1.7857rem;
  }

  @media screen and (min-width: 1200px) {
    padding-bottom: 3.5714rem;
    grid-column: 1 / span 2;
  }
}
