.manicure__intro {
  margin: auto;
}

.manicure__main {
  @media only screen and (min-width: 1200px) {
    margin: auto;
  }
}

.manicure__price {
  @media only screen and (min-width: 1200px) {
    grid-area: pricetable;
    margin-left: 0;
    margin-right: 0;
    min-width: 380px;
    padding-bottom: 2.5rem;
  }
}

.manicure__pricetable-header {
  padding-top: 0.7143rem;

  @media only screen and (min-width: 768px) {
    padding-top: 1.7857rem;
  }
}

.manicure__cta {
  padding-bottom: 2.8571rem;
  padding-top: 2.8571rem;
  position: relative;

  @media only screen and (min-width: 768px) {
    padding-bottom: 30px;
  }

  @media only screen and (min-width: 1200px) {
    grid-area: cta;
    padding-top: 0;
    padding-bottom: 0;
  }
}

.manicure__cta::after {
  content: "";
  position: absolute;
  right: 0;
  left: 0;

  background-image: url("../img/corner-white.svg");
  background-repeat: no-repeat;
  transform: rotate(180deg);
  z-index: 99;
  fill: #ffffff;
  height: 34px;
  bottom: -34px;
  background-size: 100% 100%;

  @media only screen and (min-width: 768px) {
    display: none;
  }
}

.manicure__preicetable-price {
  @media only screen and (min-width: 768px) {
    text-align: center;
  }

  @media only screen and (min-width: 1200px) {
    text-align: right;
  }
}

.manicure__logo {
  @media only screen and (min-width: 768px) {
    background-image: url("../img/manicure-bg.jpg");
    background-position: center bottom 75%;
  }

  @media only screen and (min-width: 1200px) {
    background-size: cover;
  }
}

.manicure__preicetable-wrapper {
  @media only screen and (min-width: 1200px) {
    margin: 0;
    max-width: 550px;
  }
}

.manicure__preicetable-table {
  @media only screen and (min-width: 1200px) {
    grid-column: 1 / -1;
  }
}

.manicure__wrapper {
  @include border;

  @media only screen and (min-width: 1200px) {
    display: grid;
    grid-template-columns: [cta] 485px [pricetable] 3fr 2fr;
    max-width: 1400px;
    grid-column-gap: 2.5rem;
  }
}

.manicure__pricetable-header--first {
  display: none;

  @media only screen and (min-width: 1200px) {
    display: inline;
    padding-top: 0;
  }
}
