
.navigation {
  display: grid;
  grid-area: navigation;

  @media only screen and (min-width: 768px) {
    background-color: $main-p;
  }
}

.navigation__list {
  position: absolute;
  top: 140px;
  left: 0;
  z-index: 9999;

  width: 100%;
  height: 100vh;


  background: $light-b;

  transition: 0.5s;
  transition-delay: 0.5s;

  @media only screen and (min-width: 768px) {

    position: relative;
    height: auto;
    top: 0;
    margin-top: 0;
    background-color: $main-p;
  }

  @media only screen and (min-width: 1200px) {
    display: flex;
    margin-left: 8.5714rem;
    margin-right: 8.5714rem;
    max-width: 1400px;
    width: auto;
  }

  @media only screen and (min-width: 1645px) {
    margin-left: auto;
    margin-right: auto;
  }
}

.navigation__items {
  display: grid;
  margin-top: 0;
  text-align: center;
  grid-gap: 1px;

  @include reset;

  @media only screen and (min-width: 768px) {
    @include tablet;
    display: flex;
    justify-content: space-between;
  }

  @media only screen and (min-width: 1200px) {
    @include limitm;
    padding-left: 0;
    justify-content: left;
    margin: 0;
    padding-right: 8.5714rem;
  }
}

.navigation__item {
  padding: 20px;

  list-style-type: none;
  color: white;
  text-transform: uppercase;
  text-decoration: none;

  background-color: $dark-b;

  &:active {
    opacity: 0.5;

    transition: opacity 0.2s linear, color 0.2s linear;
  }

  @media only screen and (min-width: 768px) {
    display: flex;
    background-color: $main-p;
    justify-content: stretch;

    padding-left: 10px;
    padding-right: 10px;

    padding-top: 23px;
    padding-bottom: 23px;
    align-items: center;
  }

  @media only screen and (min-width: 1200px) {
    padding-left: 25px;
    padding-right: 25px;
  }

  &:first-child {
    @media only screen and (min-width: 1200px) {
      padding-left: 0;
    }
  }
}

.navigation__item--active {
  display: grid;
  justify-content: center;
  font-size: 1.2857rem;
  color: white;

  &::after {
    content: "";

    display: block;

    border: 1px white solid;
  }
}

.navigation--closed {
  display: none;

  @media only screen and (min-width: 768px) {
    display: block;
  }
}

.navigation__link {
  position: relative;

  color: white;
  text-decoration: none;
  padding: 1.6em 26em;
  margin: -1.6em -26em;
  transition: background-color 0.2s linear, border-color 0.2s linear, color 0.2s linear;

  &:focus {
    outline: none;
    background-color: transparent;
    user-select: none;
  }

  @media only screen and (min-width: 768px) {
    font-size: 1.2857rem;
    line-height: 1.7143rem;
    font-weight: 500;
    padding: 0;
    margin: 0;
  }
}

.navigation__item a[href] {
  &::after {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 0;

    width: 100%;
    height: 3px;

    background: #ffffff;
    border-radius: 5px;
    transform: scaleX(0);
    visibility: visible;

    transition: 0.25s linear;
  }

  &:hover::after {
    transform: scaleX(1);
    visibility: visible;
  }

  &:focus::after {
    transform: scaleX(1);
    visibility: visible;
  }
}
