
.navigation__list {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;

  width: 100%;
  height: 100vh;
  margin-top: 16.3vh;
  overflow-x: hidden;

  background: $light-b;

  transition: 0.5s;
  transition-delay: 0.5s;
}

.navigation__items {
  display: grid;
  margin-top: 0;

  text-align: center;

  grid-gap: 1px;
  @include reset;
}

.navigation__item {
  padding: 15px;

  list-style-type: none;
  color: white;
  text-transform: uppercase;
  text-decoration: none;

  background-color: $dark-b;

  @include reset;
}

.navigation__item--active {
  display: grid;
  justify-content: center;

  font-family: $futurist-medium-font;
  color: white;

  &::after {
    content: "";

    display: block;

    border: 1px white solid;
  }
}

.navigation--closed {
  display: none;
}
