
.navigation__list {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;

  width: 100%;
  height: 100vh;
  margin-top: 16.3vh;
  overflow-x: hidden;

  background: $light-b;

  transition: 0.5s;
  transition-delay: 0.5s;
}

.navigation__items {
  display: grid;
  margin-top: 0;

  text-align: center;

  grid-gap: 1px;
  @include reset;
}

.navigation__item {
  padding: 20px;

  list-style-type: none;
  color: white;
  text-transform: uppercase;
  text-decoration: none;

  background-color: $dark-b;

  &:active {
    opacity: 0.5;
    transition: opacity 0.2s linear, color 0.2s linear;
  }
}

.navigation__item--active {
  display: grid;
  justify-content: center;

  font-family: $futurist-medium-font;
  color: white;

  &::after {
    content: "";

    display: block;

    border: 1px white solid;
  }
}

.navigation--closed {
  display: none;
}

.navigation__link {
  color: white;
  text-decoration: none;
  position: relative;
  transition: background-color 0.2s linear, border-color 0.2s linear, color 0.2s linear;

}

.navigation__item a[href]  {
    &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: -3px;
    left: 0;
    background: #ffffff;
    visibility: visible;
    border-radius: 5px;
    transform: scaleX(0);
    transition: .25s linear;
  }

  &:hover::after {
    visibility: visible;
    transform: scaleX(1);
  }

  &:focus::after {
    visibility: visible;
    transform: scaleX(1);
  }


}

