.page-main {
  display: grid;
  grid-template-rows: 140px auto;
  margin-left: auto;
  margin-right: auto;

  grid-template-areas:
    "header"
    "about"
    "benefits"
    "price"
    "info"
    "footer";

  @media only screen and (min-width: 768px) {
    grid-template-areas:
    "header"
    "about"
    "price"
    "benefits"
    "info"
    "footer";

    grid-template-rows: auto;
  }
}

.page-main__noscroll {
  position: fixed;
}
