.price {
  grid-area: price;
  background-color: $light-g;
  position: relative;
}

.price__table {
  display: grid;
}

.price__header {
  @include reset;
  justify-self: center;
  font-size: 22px;
  line-height: 30px;
  font-family: $futurist-medium-font;
  text-transform: capitalize;
  padding-bottom: 18px;
  padding-top: 18px;
}

.price__items {
  @include reset;
  display: grid;
  grid-template-columns: 1fr;
  color: white;
}

.price__item {
  background-color: $dark-b;
  padding-left: 1.4286rem;
  padding-right: 1.4286rem;

  &:nth-child(2n) {
    background-color: $light-b;
    color: $text-color;
  }
}

.price__cost {
  @include reset;
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: 1.2857rem;
  line-height: 1.2857rem;
  padding-top: 20px;
  padding-bottom: 20px;
}

.price__service {
  @include reset;
  justify-self: start;
  align-items: center;
  display: flex;
}

.price__product {
  @include reset;
}

.price::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -34px;
  left: 0;
  height: 35px;
  background-image: url("../img/corner-dark.svg");
  background-repeat: no-repeat;
  transform: rotate(180deg);
  z-index: 99;
  fill: #f2f3f7;
}
