.pricetable {
  background-color: #ddeee9;
  padding-right: 1.4286rem;
  padding-left: 1.4286rem;
  position: relative;

  @media screen and (min-width: 768px) {
    padding-right: 225px;
    padding-left: 4.6429rem;
  }
}

.pricetable__header {
  @include fat-header;
  padding-top: 5rem;

  @media screen and (min-width: 768px) {
    padding-bottom: 40px;
  }
}

.pricetable__table {
  @include reset;
  display: grid;
}

.pricetable__list {
  @include reset;
  display: grid;
}

.pricetable__item {
  @include reset;
  font-size: 1.2857rem;
  line-height: 1.2857rem;
  padding-bottom: 1.0714rem;

  @media screen and (min-width: 768px) {
    font-size: 1.5714rem;
    line-height: 1.7143rem;
  }
}

.pricetable__service {
  @include reset;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.pricetable__name {
  @include reset;
}

.pricetable__price {
  @include reset;
  text-align: right;
  align-self: center;
}

.pricetable__cta {
  margin-top: 2.5rem;
  display: flex;
  margin-bottom: 2.8571rem;
}

.pricetable::after {
  content: "";
  position: absolute;
  right: 0;
  left: 0;
  height: 35px;
  background-image: url("../img/corner-light.svg");
  background-repeat: no-repeat;
  transform: rotate(180deg);
  z-index: 99;
  fill: #ffffff;
  bottom: -34px;

  @media only screen and (min-width: 768px) {
    display: none;
  }
}
